apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nginx-app.fullname" . }}-config
data:
  nginx.conf: |
    server {
      listen {{ .Values.service.port }};

      location / {
        root {{ .Values.nginx.root }};
        index {{ .Values.nginx.index }};

        {{- if .Values.auth.enabled }}
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/auth/.htpasswd;
        {{- end }}
      }
    }